/* 引入字体 */
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('./font/ProximaNova-Regular.otf');
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('./font/ProximaNova-Semibold.otf');
}
.clear{clear: both}
h1, h2,h3,h4,p,span{font-family: ProximaNova-Semibold, Arial, Helvetica, sans-serif; font-weight: normal;}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y:hidden;
}/*这里是关键，父级有百分比*/
.flex-box
{
    display: flex;
    height: 100%;/*这里是关键，父级有百分比*/
}
.img-box
{
    width: 60px;
    min-height:300px;
    margin-left:20px ;
}
.img-box img
{
    margin-top:20px ;
}
.setting-box
{
    margin-left: 10px;
    position: fixed;
    bottom: 0;
    left: 0;

}
.setting-box img
{
    margin-left: 16px;
}
.sidebar
{
    background:#1d2531;
    width: 100px;
    height: 100%;
    /*min-height:1020px;*/
}
.menu-box
{
    width: 220px;
    height: 100%;
    /*min-height:1000px;*/
    background:#222c3c;
    padding-left:30px;
}
.menu-box a
{
    text-decoration: none;
    color: #b7c0cd;
}
.menu-box a:hover
{
    color:white!important;
}
.menu1
{
    width: 190px;
    min-height: 230px;
    position: relative;
    border-bottom:3px solid  #2a3547 ;
}
.menu2
{
    width: 190px;
    min-height: 195px;
    position: relative;
    border-bottom:3px solid  #2a3547 ;
}
.menu2 .book
{
    background: url("image/icons_1.png") no-repeat top left;
    padding-left:27px;
}
.menu2 .tuto
{
    background: url("image/icons_2.png") no-repeat top left;
    padding-left:27px;
}
.menu2 .stock
{
    background: url("image/icons_3.png") no-repeat top left;
    padding-left:27px;
}
.menu2 .info
{
    background: url("image/icons_4.png") no-repeat top left;
    padding-left:27px;
}
.menu3
{
    width: 190px;
    min-height: 230px;
    position: relative;
    border-bottom:3px solid  #2a3547 ;
}

.menu1 .icon,.menu2 .icon,.menu3 .icon
{
    position: absolute;
    top: 10px;
    right: 0;

}
.menu-box h3
{
    color: #5b6779;
    line-height: 40px;
    font-size: 12px;
}
.menu-box p
{
    font-size: 14px;
    line-height: 20px;
}
.messages
{
    height: 100%;
    /*min-height: 80px;*/
    /*min-width: 1230px;*/
    width: calc(100% - 350px);
    background-color: #ffffff;
    position: relative;
}
.message-header
{
    height: 80px;
    border:1px solid rgba(0, 0, 0, 0.2) ;/*bottom??*/
    position: relative;
}
.message-header h2
{
    font-size: 24px;
    line-height: 40px;
    color: #354052;
    margin-left:30px;
}
.message-header .photo
{
    position: absolute;
    top:11px;
    right:31px;
    width: 204px;
    height: 58px;
    background: url("image/dropdown.png") no-repeat center right;
}
.photo img
{
    width: 50px;
    height: 50px;
}
.photo .status
{
    border: solid 3px #ffffff;
    border-radius:14px;
    background-color: white;
    position: absolute;
    top: 36px;
    left: 36px;
    width: 14px;
    height: 14px;

    z-index: 1;
}
.photo h3
{
    position: absolute;
    top:-8px;
    left:70px;
    font-size: 16px;
    color: #2399f1;
}
.photo p
{
    font-size: 14px;
    position: absolute;
    top:20px;
    left:70px;
    color: #b5b5b5;
}
.message-content .content-left
{
    height: auto;
    width: 400px;
    overflow: hidden;
}
.inner-box .search
{
   position: relative;
}
.inner-box .search input
{
    width: 340px;
    height: 36px;
    border-radius: 4px;
    border: solid 1px #e5e8ee;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: normal;
    color: #9fa9ba;
    opacity: 0.8;
}
.inner-box .search img
{
    position: absolute;
    top: 25px;
    right: 40px;

}
.message-content .content-left .inner-box
{
    height: auto;
    max-height: 856px;
    width: 417px;/*滚动条默认宽度17px*/
    overflow-y: scroll;
}/*用父元素包裹住来让滚动条消失却实现滚动功能*/
.inner-box .message1
{
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 30px;
    width: 370px;
    height: 115px;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /*border-right: 1px solid rgba(0, 0, 0, 0.2);*/
    background: url("image/bluebg2.png") 355px 78px no-repeat;

}
.message1 .face
{
    float: left;
    margin-right: 20px;
    position: relative;
}
.message1 .name
{
    float: left;
    background: url("image/StatusB.png") no-repeat left top;

}
.message1 .name p
{
    font-size: 16px;
    color: #2399f1;
    margin-left: 12px;
    margin-top: -3px;
    margin-bottom: -3px;
}
.message1 .name span
{
    font-family: ProximaNova-Semibold;
    font-size: 14px;
    color: #b5b5b5;
}
.message1 .distance
{
    position: absolute;
    top:19px;
    right: 14px;
}
.message1 .information p
{
    width: 310px;
    height: 32px;
    font-family: ProximaNova-Regular;
    font-size: 14px;
    line-height: 19px;
    color: #585d68;
}
.message1 .information span
{

    position: absolute;
    top:72px;
    left: 363px;
    line-height: 36px;
    font-size: 14px;
    color: #ffffff;
}
.inner-box .message2
{
    padding-top: 15px;
    padding-left: 30px;
    width: 370px;
    height: 115px;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /*border-right:1px solid rgba(0, 0, 0, 0.2);*/

}
.message2 .face
{
    float: left;
    margin-right: 20px;
    position: relative;
}
.message2 .name
{
    float: left;

}
.message2 .name p
{
    font-size: 16px;
    color: #585d68;
    margin-top: -3px;
    margin-bottom: -3px;
}
.message2 .name span
{
    font-family: ProximaNova-Semibold;
    font-size: 14px;
    color: #b5b5b5;
}
.message2 .distance
{
    position: absolute;
    top:19px;
    right: 14px;
}
.message2 .information p
{
    width: 360px;
    height: 32px;
    font-family: ProximaNova-Regular;
    font-size: 14px;
    line-height: 19px;
    color: #585d68;
}
.message2 .information span
{

    position: absolute;
    top:72px;
    left: 363px;
    line-height: 36px;
    font-size: 14px;
    color: #ffffff;
}
.content-right
{
    position: absolute;
    top: 81px;
    left: 400px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.content-right .right-box
{
    height: auto;
    max-height:856px ;
    overflow-y: scroll;
}
.content-right h3
{
    font-size: 16px;
    color: #585d68;
    display: inline-block;
    margin-right: 9px;
}
.content-right p
{
    font-family: ProximaNova-Regular;
    font-size: 14px;
    line-height: 19px;
    color: #585d68;
}
.content-right .message-today span,.content-right .message-tuesday span,.content-right .message-new span
{

    font-family: ProximaNova-Semibold;
    font-size: 14px;
    color: #7f8fa4;
}
.content-right .message-today
{
    height: auto;
    padding: 8px 67px 18px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: relative;
}
.content-right .message-tuesday
{
    height: auto;
    padding: 8px 67px 18px 10px;
    border-bottom: 1px solid rgba(35,153,241,0.4);
    position: relative;
}
.content-right .right-message1
{
    position: relative;
    padding-left: 87px;
}
.content-right .right-message1 img
{
    position: absolute;
    top:14px;
    left: 20px;
}
.content-right .right-message2
{
    position: relative;
    padding-left: 87px;
}
.content-right .right-message2 img
{
    position: absolute;
    top:14px;
    left: 20px;
}
.content-right .divide-tuesday
{
    position: relative;
    bottom: -20px;/*这样就随着内容的扩充而跟着定位了*/
    left: 50%;
    width: 80px;
    height: 13px;
    background: white;
    font-size: 14px;
    line-height: 19px;
    color: #7f8fa4;
    text-align: center;
}
.content-right .divide-new
{
    position: relative;
    width: 130px;
    height: 13px;
    background: white;
    font-size: 14px;
    line-height: 19px;
    color: #2399f1;
    bottom: -20px;
    left: 50%;
    text-align: center;
}